

<div>
    <h1 style="text-align: center;">Main Table</h1>
    <table style="width: 90%; margin-top: 50px; margin-left: 5%;">
        <tr>
            <th>Serial</th>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Cuisines</th>
            <th>Rating</th>
            <th>Reviews</th>
            <th>Feature Image</th>
            <th>Thumbnail Image</th>
            <!-- <th>Menu</th> -->
        </tr>
        <tr *ngFor="let item of data; let i=index;">
            <td>{{i+1}}</td>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.address }}</td>
            <td>{{ item.cuisines }}</td>
            <td>{{ item.rating }}</td>
            <td>{{ item.reviews }}</td>
            <td><img src="{{ item.feature_image }}" alt="feature_image"></td>
            <td><img src="{{ item.thumbnail_image }}" alt="thumbnail_image"></td>
        </tr>

    </table>

    <h1 style="text-align: center;">Manu Item's Table</h1>


    <table style="width: 75%; margin-top: 50px; margin-left: 12.5%;" *ngFor="let item of data">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>DESCRIPTION</th>
                <th>PRICE</th>
            </tr>
        </thead>
        <tbody *ngFor="let menuitem of item.menu">
            <td>{{ menuitem.id }}</td>
            <td>{{ menuitem.name }}</td>
            <td>{{ menuitem.desc }}</td>
            <td>{{ menuitem.price }}</td>
        </tbody>
    </table>
</div>

<br><br><br>



<h1>Anather Systhem in templates </h1>

<div *ngFor="let restaurant of data">
    <h2>Restaurant Name : {{ restaurant.name }}</h2>
    <p><b>Address : </b> {{ restaurant.address }}</p>
    <img [src]="restaurant.feature_image" alt="{{ restaurant.name }}">

    <h3>Menu</h3>
    <ul>
        <li *ngFor="let menuItem of restaurant.menu">
            <p>{{ menuItem.name }}</p>
            <p>{{ menuItem.desc }}</p>
            <p>Price: {{ menuItem.price }}</p>
        </li>
    </ul>
</div>





<!-- ANATHER SYSTEM IN TEMPLATES -->


<!-- restaurant.component.html -->
<!-- <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Cuisines</th>
        <th>Rating</th>
        <th>Reviews</th>
        <th>Feature Image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let restaurant of data">
        <td>{{ restaurant.id }}</td>
        <td>{{ restaurant.name }}</td>
        <td>{{ restaurant.address }}</td>
        <td>{{ restaurant.cuisines }}</td>
        <td>{{ restaurant.rating }}</td>
        <td>{{ restaurant.reviews }}</td>
        <td><img [src]="restaurant.feature_image" alt="{{ restaurant.name }}" width="50" height="50"></td>
      </tr>
    </tbody>
  </table> -->

<!-- Menu Table -->
<!-- <h2>Menu</h2>
  <table *ngFor="let restaurant of data">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let menuItem of restaurant.menu">
        <td>{{ menuItem.id }}</td>
        <td>{{ menuItem.name }}</td>
        <td>{{ menuItem.desc }}</td>
        <td>{{ menuItem.price }}</td>
      </tr>
    </tbody>
  </table> -->