<div>
  <h1 style="text-align: center;">Main Table</h1>
  <table style="width: 90%; margin-top: 50px; margin-left: 5%;">
    <tr>
      <th>Serial</th>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Cuisines</th>
      <th>Rating</th>
      <th>Reviews</th>
      <th>Feature Image</th>
      <th>Thumbnail Image</th>
      <!-- <th>Menu</th> -->
    </tr>
    <tr *ngFor="let item of data; let i=index;">
      <td>{{i+1}}</td>
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.address }}</td>
      <td>{{ item.cuisines }}</td>
      <td>{{ item.rating }}</td>
      <td>{{ item.reviews }}</td>
      <td><img src="{{ item.feature_image }}" alt="feature_image"></td>
      <td><img src="{{ item.thumbnail_image }}" alt="thumbnail_image"></td>
    </tr>

  </table>
</div>


<!-- ANATHER SYSTEM IN TEMPLATES -->


<!-- restaurant.component.html -->
<!-- <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Cuisines</th>
        <th>Rating</th>
        <th>Reviews</th>
        <th>Feature Image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let restaurant of data">
        <td>{{ restaurant.id }}</td>
        <td>{{ restaurant.name }}</td>
        <td>{{ restaurant.address }}</td>
        <td>{{ restaurant.cuisines }}</td>
        <td>{{ restaurant.rating }}</td>
        <td>{{ restaurant.reviews }}</td>
        <td><img [src]="restaurant.feature_image" alt="{{ restaurant.name }}" width="50" height="50"></td>
      </tr>
    </tbody>
  </table> -->

<!-- Menu Table -->
<!-- <h2>Menu</h2>
  <table *ngFor="let restaurant of data">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let menuItem of restaurant.menu">
        <td>{{ menuItem.id }}</td>
        <td>{{ menuItem.name }}</td>
        <td>{{ menuItem.desc }}</td>
        <td>{{ menuItem.price }}</td>
      </tr>
    </tbody>
  </table> -->